:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-color: var(--pale-blue);
}

.bg-img {
  background-image: url(/images/pattern-background-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

h1 {
  color: var(--dark-blue);
  margin-bottom: 1em;
}

.annual {
  font-weight: 700;
  color: var(--dark-blue);
  margin-left: 0;
  max-width: 100%;
}

.price {
  margin-left: 0;
}

.btn {
  padding: 1em;
  border: none;
  border-radius: 10px;
  width: 80%;
  font-weight: 700;
  font-family: inherit;
}

.btn-primary {
  background-color: var(--bright-blue);
  color: var(--pale-blue);
  margin: 1em 0 2em 0;
}

.btn-secondary {
  color: var(--dark-blue);
}

.card {
  position: absolute;
  left: 38%;
  top: 12%;
  border-radius: 16px;
  width: 452px;
  height: 600px;
  background-color: var(--very-pale-blue);
  text-align: center;
}

p {
  color: var(--desaturated-blue);
  max-width: 70%;
  margin: 0 auto;
}

.hero-img {
  border-radius: 15px 15px 0 0;
  margin-bottom: 2em;
}

.subscription {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 80%;
  background-color: var(--pale-blue);
  margin: 1em auto;
  border-radius: 5px;
  padding: 15px;
}

.subscription > a {
  padding-left: 8em;
}

.subscription > img {
  padding-right: 10px;
}

footer {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 9em;
}

footer a {
  color: var(--dark-blue);
}
